* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #F8FAFC;
    padding: 3rem 0;
}

button {
    all: unset;
}

#cards-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    width: 100vw;
    height: 100vh;
}

.card {
    padding: 3.2rem;
    min-width: 38.4rem;
    max-width: 38.4rem;
    height: 45.4rem;

    background-color: white;
    border: .1rem solid #E2E8F0;
    border-radius: 1.0rem;

    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    transition: 0.2s ease-in-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #996DFF;
    transform: scale(1.02);
}

.ultimate {
    background-color: #0F172A;
    position: relative;
}

.ultimate::before {
    content: "Mais vantajoso";
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #0F172A;

    width: 13.3rem;
    padding: .8rem 1.6rem;
    background-color: #FBA94C;
    border-radius: .6rem;
    text-align: center;

    display: block;
    position: absolute;
    left: 30%;
    top: -18px;
}

.ultimate .type,
.ultimate .price,
.ultimate .price span {
    color: white;
}

.ultimate .btn-buy {
    background: #996DFF;
    color: white;
}

.ultimate li {
    color: #CBD5E1;
}

.phrasal-topic {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #7C3AED;
    margin: 0 0 .8rem 0;
}

.type-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.type {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.9rem;
    color: #1E293B;
}

.price {
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #1E293B;
}

.price span {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.7rem;
    color: #1E293B;
}

.btn-buy {
    text-align: center;
    padding: 1.6rem 2.4rem;
    border: .1rem solid #1E293B;
    border-radius: .4rem;
    width: calc(100% - 4.9rem);

    font-weight: 700;
    color: #1E293B;
    margin-top: 3.2rem;
}

.btn-buy:hover,
.btn-buy:active {
    background: #1E293B;
    color: white;
    transition: .3s;
}

.ultimate .btn-buy:hover,
.ultimate .btn-buy:active {
    background: #7C3AED;
    transition: .5s;
}

hr {
    margin: 3.2rem 0 3.2rem 0;
    border: .1rem solid #E2E8F0;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

li {
    list-style: none;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.06em;
    color: #475569;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li div {
    display: flex;
    align-items: center;
    gap: .885rem;
}

/* MOBILE */
@media screen and (max-width: 410px) {
    .card {
        min-width: auto;
    }

    .type {
        font-size: 2.4rem;
    }

    .price span {
        font-size: 2rem;
    }

    
    .ultimate::before {
        padding: .6rem 1.4rem;
        left: 24%;
        top: -18px;
    }
}


@media screen and (max-width: 425px) {
    #cards-group {
        display: flex;
        flex-direction: column;
    }

    .card {
        padding: 2.4rem;
        width: 300px;
        height: auto;
    }

    hr {
        margin: 1.6rem 0 1.6rem 0;
    }

    .btn-buy {
        margin-top: 1.6rem;
    }
}

@media screen and (max-width: 1246px) {
    #cards-group {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
}